body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #557b0e;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}
